.job {
    width: 80%;
    margin: 20px  auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

.job:hover {
    cursor: pointer;
    background-color: lightgray;
    color: darkslategray;
}
.job-company {
    padding: 0 30px;
}
.job-dialog {
    padding: 30px 50px;
}